<launch>  
  
    <arg name="set_base_frame" default="base_link"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="odom"/>
    <arg name="map_file" default="$(find mapless_navigation)/maps/ICM_map.yaml"/>
    <!-- <arg name="map_file" default="$(find mapless_navigation)/maps/map_dynamic_simple.yaml.yaml"/> -->
    <arg name="open_rviz" default="true"/>
    <arg name="move_forward_only" default="false"/>

    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <include file="$(find robot_kist)/navigation/amcl.launch"/>
</launch>